$vertical-margin = 25px

.Scene {
	position: absolute
	// width: 300
	// height: 200px
	// top: $vertical-margin

	width: 100%
	top: $vertical-margin
	height: "calc(100% - %s)" % (2 * $vertical-margin)

	// left: 500px;

	border: 1px solid #ddd
	background: white
}
